<div>
    <div class="orders_add__right">
        <div class="orders_add__right_header">
            <h3>La commande</h3>
        </div>
        <div class="orders_add__right__body">
            <div class="orders_add__right__body_client">
                <h3><i class="fas fa-user"></i> Client</h3>
                <div class="orders_add__right__body_client_info">
                    <label><strong>Cin:</strong>  UY67808</label>
                    <label><strong>Nom:</strong> LAHCEN  </label>
                    <label><strong>Prenom:</strong> CLIENT</label>
                    <label><strong>Email:</strong> lahcenclient@gmail.com</label>
                    <label><strong>Ville:</strong> Rabat</label>
                    <label><strong>Telephone:</strong> 0656983421</label>
                </div>
            </div>
            <div class="orders_add__right__body_products">
                <h3><i class="fas fa-store"></i> Les Produits</h3>
                <div class="orders_add__right__body_products_info">
                    <div class="orders_add__right__body_products_info_item">

                        <div class="orders_add__right__body_products_info_item_header">
                            <h4>Produit 1</h4>
                            <h5>Categorie 1</h5>
                        </div>
                        <div class="orders_add__right__body_products_info_item_body">
                            <h5>Quantite: 24</h5>
                            <h5>Total: 1000 DH</h5>
                        </div>
                        
                    </div>
                
                
                    <div class="orders_add__right__body_products_info_item">

                        <div class="orders_add__right__body_products_info_item_header">
                            <h4>Produit 2</h4>
                            <h5>Categorie 2</h5>
                        </div>
                        <div class="orders_add__right__body_products_info_item_body">
                            <h5>Quantite: 4</h5>
                            <h5>Total: 100 DH</h5>
                        </div>
                        
                    </div>
                
                
                    <div class="orders_add__right__body_products_info_item">

                        <div class="orders_add__right__body_products_info_item_header">
                            <h4>Produit 3</h4>
                            <h5>Categorie 3</h5>
                        </div>
                        <div class="orders_add__right__body_products_info_item_body">
                            <h5>Quantite: 4</h5>
                            <h5>Total: 200 DH</h5>
                        </div>
                        
                    </div>
                
                <div class="orders_add__right__body_products_footer">
                    <button (click)="retour()">Retour</button>
                </div>

            </div>
        </div>
    </div>
</div>