<div class="navbar">
  <div class="navbar__left">
    <button class="navbar__left__bars"><i class="fas fa-bars"></i></button>
  </div>

  <div class="navbar__center">
    <form action="" class="navbar__center__search">
      <input type="text" placeholder="Recherche Commande">
      <button type="button"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <div class="navbar__right">
   
    <button class="navbar__right__logout" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</div>

<!-- Box Notification -->
<div class="box">
  <div id="boxNoti" class="notification">
    <div class="notification__header">
      <h3>Notification</h3>
    </div>
    <div class="notification__body">
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info">
          <p><a href=""><strong>Youness</strong></a> est ajouter un nouveau commande <strong>ID:3456</strong></p>
          <small>7 hours ago</small>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info">
          <p><a href=""><strong>Youness</strong></a> est ajouter un nouveau commande <strong>ID:3456</strong></p>
          <small>7 hours ago</small>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info">
          <p><a href=""><strong>Youness</strong></a> est ajouter un nouveau commande <strong>ID:3456</strong></p>
          <small>7 hours ago</small>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info">
          <p><a href=""><strong>Youness</strong></a> est ajouter un nouveau commande <strong>ID:3456</strong></p>
          <small>7 hours ago</small>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info">
          <p><a href=""><strong>Youness</strong></a> est ajouter un nouveau commande <strong>ID:3456</strong></p>
          <small>7 hours ago</small>
        </div>
      </a>
    </div>
  </div>

  <div id="boxMessage" class="message">
    <div class="notification__header">
      <h3>Messages</h3>
    </div>
    <div class="notification__body">
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
      <a href="" class="notification__body__item">
        <img src="../../../../assets/img/logo__user.png" alt="">
        <div href="" class="notification__body__item__info msg">
          <h4>Lahcen Hayane</h4>
          <div class="notification__body__item__info__msg">
            <p>Hi lahcen i want to talk to you</p>
            <small>7 hours ago</small>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
