<div class="login">
    <div class="login__shadow">
        <form class="login__shadow__form" [formGroup]="login" (ngSubmit)="connexion()">
            <h2>Connexion</h2>
            <div class="form">
                <div [ngClass]="{
                                'login__shadow__form__item':true,'border-green':login.controls['email'].valid,
                                'border-red':login.controls['email'].invalid && (login.controls['email'].dirty || login.controls['email'].touched)
                                }"
                >
                    
                    <i [ngClass]="{
                        'fas fa-user':true,
                        'color-red':login.controls['email'].invalid && (login.controls['email'].touched || login.controls['email'].dirty),
                        'color-green':(login.controls['email'].valid)
                    }"></i>
                    <input formControlName="email" type="email" placeholder="Email@gmail.com">
                    <i  *ngIf="(login.controls['email'].invalid && (login.controls['email'].dirty || login.controls['email'].touched))|| login.controls['email'].valid"
                        [ngClass]="login.controls['email'].invalid ? 'fas fa-exclamation-circle color-red':'fas fa-check color-green'"></i>
                </div>
                <div class="email_error" *ngIf="login.controls['email'].invalid && (login.controls['email'].dirty || login.controls['email'].touched)">
                    <span *ngIf="login.controls['email'].getError('required')">Ce champ est obligatoire.</span>
                    <span *ngIf="login.controls['email'].getError('email')">Se champ doit être l'adresse e-mail.</span>
                </div>
            </div>  
            <div class="form">
                <div [ngClass]="{
                    'login__shadow__form__item':true,'border-green':login.controls['password'].valid,
                    'border-red':login.controls['password'].invalid && (login.controls['password'].dirty || login.controls['password'].touched)
                    }"
                >
                    <i [ngClass]="{
                        'fas fa-key':true,
                        'color-red':(login.controls['password'].invalid && (login.controls['password'].touched || login.controls['password'].dirty)),
                        'color-green':(login.controls['password'].valid)
                    }"></i>
                    <input formControlName="password" type="password" placeholder="Mot de pass">
                    <i  *ngIf="(login.controls['password'].invalid && (login.controls['password'].dirty || login.controls['password'].touched))|| login.controls['password'].valid"
                        [ngClass]="login.controls['password'].invalid ? 'fas fa-exclamation-circle color-red':'fas fa-check color-green'"></i>
                    
                </div>
                <div class="email_error" *ngIf="login.controls['password'].invalid && ( login.controls['password'].dirty || login.controls['password'].touched)">
                    <span *ngIf="login.controls['password'].getError('required')">Ce champ est obligatoire.</span>
                    <span *ngIf="login.controls['password'].getError('minlength')">Ce champ doit être supérieur à 8 caractères..</span>
                    <span *ngIf="login.controls['password'].getError('maxlength')">Ce champ doit être inférieur à 99 caractères.</span>
                </div>
            </div>
            <button type="submit" [disabled]="login.invalid" [ngClass]="login.controls['password'].valid && login.controls['email'].valid ? 'bg-green' : ''">Connexion</button>
        </form>
    </div>
</div>