.users{
    border: 1px solid rgb(197, 197, 197);
}
.user{
    display: flex;
    flex: 1;
}
.users_all{
    flex: 1;
}

.users__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 6px 10px;
}



.users__header>h3{
    font-weight: bold;
    color: #1864AB;
}

.users_header__middle{
    display: flex;
    align-items: center;
}
.users_header__middle>button{
    border: 1px solid #1864AB;
    color: #1864AB;
    padding: 6px 12px;
    border-radius: 15px;
    margin: 0 3px;
    background-color: inherit;
}
.users_header__middle>button:hover{
    cursor: pointer;
    background-color: #1864AB;
    color: white;
}
.users_header__middle>.active{
    background-color: #1864AB;
    color: white;
}

.users__header__right{
    display: flex;
    justify-items: center;
}
.users__header__right>button{
    border: none;
    outline: none;
    margin: 0 4px;
    color: #1864AB;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: inherit;
}
.users__header__right>button:hover{
    background-color: #1864AB;
    color: white;
}
.users__header__right>button:last-child,
.users__header__search>button{
    padding: 10px 13px;
}

.users__header__search>button{
    border: none;
    outline: none;
    margin: 0 4px;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: inherit;
}
.users__header__search>button:hover{
    background-color: #1864AB;
    color: white;
}


.users__header__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 6px 10px;
}
.users__header__search>.search{
    display: flex;
    flex: 1;
    align-items: center;
    border: 1px solid #1864AB;
}
.users__header__search>.search>input{
    width: 100%;
    height: 30px;
    background-color: inherit;
    border: none;
    outline: none;
}
.users__header__search>.search>i{
    padding: 6px;
    color: #1864AB;
}

/* Table */
.actif{
    background-color: rgb(77, 192, 77);
    padding: 2px 18px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
}
.NoActif{
    background-color: rgb(253, 135, 89);
    padding: 2px 18px;
    border-radius: 15px;
    color: white;
    font-size: 14px;
}

.users_table{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.users_table>thead{
    background-color: #1864AB;
    color: white;
}
.users_table>tbody{
    overflow-y: scroll;
    background-color: lightgrey;
    height: 350px;
}
.users_table>thead>tr,
.users_table>tbody>tr{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    /* border-bottom: 1px solid #1864AB; */
}
.users_table>tbody>tr{
    margin: 1px 0;
    background-color: white;
    align-items: center;
}
.users_table>tbody>tr:last-child{
    margin:0;
}
.users_table>thead>tr>th,
.users_table>tbody>tr>td{
    text-align: center;
    flex: 1;
}
.users_table_btn{
    padding: 8px 9px;
    outline: none;
    background-color: whitesmoke;
    color: #1864AB;
    border: none;
    font-size: 14px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}
.users_table_btn:first-child{
    padding: 8px 11px;
}
.users_table_btn:hover{
    color: white;
    background-color: #1864AB;
    transition: all .3s ease-in-out;
}

.table__footer{
    background-color: #3a78b3;
    display: flex;
    justify-content: right;
}
.table__footer__pagination{
    padding: 7px 10px;
}
.table__footer__pagination>button{
    padding: 4px 8px;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    margin: 0 2px;
    cursor: pointer;
    color: #0b60af;
    background-color: white;
    border: 1px solid #01213f;
}
.table__footer__pagination>button:hover{
    background-color: #0b60af;
    color: white;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

.table__footer__pagination .pahinationActive{
    background-color: #0b60af;
    color: white;
    border: 1px solid white;
}



.users_show{
    border-left: 1px solid rgb(197, 197, 197);
    display: flex;
    height: 475px;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}
.users_show__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    color: #1864AB;
    padding: 11px 4px;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.users_show__header>i{
    margin-left: 20px;
    border-radius: 50%;
    padding: 5px 8px;
    color: white;
    background-color: #1864AB;
    cursor: pointer;
}
.users_show__body{
    padding: 4px;
}
.users_show__body_Header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.users_show__body_Header>img{
    height: 100px;
    width: 120px;
    border: 1px solid #ccc;
}
.users_show__body_Header>h3{
    max-width: 80%;
}
.users_show__body_info{   
    background-color: white;
    margin: 3px 0;
    padding: 6px 3px;
}
.users_show__body_info>p>span{
    font-weight: bold;
}


/* Modal Add New User */
.users__add{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;    
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.9);
    
}
.users__add>button{
    position: absolute;
    right: 20px;
    top:20px;
    padding: 9px 13px;
    border: none;
    overflow: none;
    border-radius: 50%;
    background-color: white;
    color: #0b60af;
    cursor: pointer;
    z-index: 901;
}
.users__add>button:hover{
    transition: all .4s ease-in-out;
    background-color: #0b60af;
    color: whitesmoke;
}
.users__add__modal{
    position: absolute;
    z-index: 902;
    width: 70%;
    height: fit-content;
    top: 8%;
    left: 14%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 2px solid #0b60af;
    overflow-y: scroll;
}
.users__add__modal__header,
.users__add__modal__footer
{
    background-color: #0b60af;
}
.users__add__modal__header{
    color: white;
    text-align: center;
    padding: 10px;
}
.users__add__modal__body{
    flex: 1;
}
.users__add__modal__footer{
    padding: 6px;
    display: flex;
    justify-content: end;
}
.users__add__modal__footer>button{
    padding: 4px 14px;
    outline: none;
    margin: 0 4px;
    border: none;;
    border-radius: 3px;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    color: white;
}
.users__add__modal__footer>button:hover{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.users__add__modal__footer .bg-success{
    background-color: rgb(20, 148, 20);
}
.users__add__modal__footer .bg-close{
    background-color: rgb(148, 29, 29);
}

.users__add__modal__body{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.users__add__modal__body__left,
.users__add__modal__body__right{
    display: flex;
    flex-direction: column;
    flex: .5;
    padding: 3px;
}
.control-form{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 15px;
    background-color: white;
}
.control-form>label{
    font-size: 13.5px;
    margin-left: 4px;
}
.control-form__input{
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 4px;
}
.control-form__input>input,
.control-form__input>textarea,
.control-form__input__password>input{
    outline: none;
    flex: 1;
    background-color: inherit;
    border: none;
}
.control-form__password{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.control-form__password>button{
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: lightgrey;
    cursor: pointer;
}
.control-form__password>button:hover{
    background-color: grey;
    color: white;
}
.users__add__modal__body__left .control-form__password__input{
    margin-right: 2px;
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
}

.users__add__modal__body__left .control-form__password__input > input{
    flex: 1;
    outline: none;
    border: none;
    padding: 5px 4px;
    background-color: #eee;
}
.users__add__modal__body__left .control-form__password__input > i{
    border: none;
    margin: 0 2px;
    padding: 0 4px;
    cursor: pointer;
    color: gray;
}

.control-form__role{
    display: flex;
    justify-content: space-between;
    
}
.control-form__role__item{
    display: flex;
    background-color: #eee;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 10px;
}
.control-form__role__item>label{
    margin-left: 4px;
    font-size: 13px;
}
.control-form>textarea{
    resize: none;
    background-color: #eee;
    padding: 5px 4px;
    border-radius: 5px;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    outline: none;
    font-size: 13.5px;
    
}


/* Modal Delete User */
.users__delete__modal{
    position: absolute;
    z-index: 902;
    width: 350px;
    height: 130px;
    top: 35%;
    left: 38%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 2.5 solid rgb(189, 23, 23) !important;
}

.users__delete__modal__header,
.users__delete__modal__footer{
    background-color: rgb(189, 23, 23);
}
.users__delete__modal__header{
    padding: 6px;
    color: white;
    text-align: center;
}
.users__delete__modal__middle{
    flex: 1;
    padding: 10px;
}

.users__delete__modal__footer{
    display: flex;
    justify-content: end;
    padding: 4px 0;
}
.users__delete__modal__footer>button{
    padding: 3px 28px;
    margin: 0 4px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(105, 18, 18);
    cursor: pointer;
}
.users__delete__modal__footer>button:last-child{
    background-color: rgb(97, 2, 2);
}

.control-form__input__password{
    display: flex;
    flex: 1;
}
.control-form__password>button{
    margin-left: 2px;
}


.border-red{
    border: 1.5px solid rgb(204, 61, 61);
}
.border-green{
    border: 1.5px solid rgb(22, 158, 22);
}
.bg-green{
    /* background-color: rgb(22, 158, 22) !important; */
    cursor: pointer;
    border: 1.5px solid rgb(22, 158, 22);
    color: rgb(22, 158, 22);
}
.color-green{
    color: rgb(22, 158, 22) !important;
}
.color-red{
    color: rgb(204, 61, 61) !important;
}
.black{
    color: black !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
}
.error{
    color: rgb(204, 61, 61) !important;
}

.control-form__input>textarea{
    resize: none;
    overflow-y: scroll;
}
.control-form__input__Radio{
    display: flex;
    flex: 1;
    align-items: center;
    
}
.control-form__input__Radio_Sexe_Global{
    display: flex;
    flex: 1;
}
.control-form__input__Radio_Sexe{
    margin: 5px 15px;
}
.control-form__input__Radio_Sexe>label{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 5px 20px;
    align-items: center;
    cursor: pointer;
    padding-top: 15px;
    position: relative;
    z-index: 100;
}
.control-form__input__Radio_Sexe>label>i:first-child{
    font-size: 18px;
}
.control-form__input__Radio_Sexe>input{
    display: none;
}
.control-form__input__Radio_Sexe>label>.fa-check-circle{
    position: absolute;
    top: -8px;
    display: none;
}
.control-form__input__Radio_Sexe>input:checked+label{
    background-color: #ddd;
    color: green;
    
}
.control-form__input__Radio_Sexe>input:checked+label>i:last-child{
    display: block;
    z-index: 1005;
}

.form__role{
    display: flex;
}

.control-form__role-all{
    display: flex;
}

/* Start Show User */
