<div class="users">
    <div class="user">
        <div class="users_all">
            <div class="users__header" *ngIf="OPEN">
                <h3>Total Utilisateurs: {{ totalRow }}</h3>
                <div class="users_header__middle">
                    <button [ngClass]="{'active':ROLE==''}" (click)="getAllUser(0, '')">Tous</button>
                    <button [ngClass]="{'active':ROLE=='Admin'}" (click)="getAllUser(0, 'Admin')">Admins</button>
                    <button [ngClass]="{'active':ROLE=='Client'}" (click)="getAllUser(0, 'Client')">Clients</button>
                    <button [ngClass]="{'active':ROLE=='Employee'}" (click)="getAllUser(0, 'Employee')">Employées</button>
                </div>
                <div class="users__header__right">
                    <button (click)="F_Open_Box_Add_User()"><i class="fas fa-user-plus"></i></button>
                    <button (click)="openSearch()"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="users__header__search" *ngIf="!OPEN">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input (keyup)="search($event, 0)" type="text" placeholder="Chercher par email">
                </div>
                <button (click)="close()"><i class="fas fa-times"></i></button>
            </div>
            
            <table class="users_table">
                <thead>
                    <tr>
                        <th>Nom et Prenom</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Statut</th>
                        <th>Ations</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let item of users">
                        <td scope="row">{{ item.nom +" "+item.prenom }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{  item.role}}</td>
                        <td>
                            <span class="actif" *ngIf="!item.supprimer">Actif</span>
                            <span class="NoActif" *ngIf="item.supprimer">Pas Actif</span>
                        </td>
                        <td>
                            <button (click)="F_Open_Box_Delete(item)" class="users_table_btn"><i class="fas fa-trash-alt"></i></button>
                            <button (click)="F_EDIT_USER(item)" class="users_table_btn"><i class="fas fa-user-edit"></i></button>
                            <button (click)="F_SHOW_USER(item)" class="users_table_btn"><i class="fas fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table__footer">
                <div class="table__footer__pagination">
                    <span style="color: white;">Page: </span>
                    
                    <button type="button"
                            *ngFor="let item of counterPagination(); let i=index" 
                            (click)="pagination(i+1)"
                            [ngClass]="{'pahinationActive':PAGE == i+1}">{{i+1}}</button>
                    
                </div>
            </div>
        </div>
        <div class="users_show" *ngIf="OPEN_CLOSE_BOX_INFO_USER">
            <div class="users_show__header">
                <h3>Les information d'utilisateur.</h3>
                <i (click)="F_CLOSE_BOX_INFO_USER()" class="fas fa-times"></i>
            </div>
            <div class="users_show__body">
                <div class="users_show__body_Header">
                    <img src="./../../../../../assets/img/logo__user.png" alt="" srcset="">
                    <h3>{{user.nom+' '+user.nom}}</h3>
                    <p>{{user.role}}</p>
                    <div *ngIf="user.role == 'Client'">
                        <p><span>Total Commande: </span>765</p>
                    </div>
                </div>
                <div class="users_show__body_info">
                    <p><span>Cin:</span> {{user.cin}}</p>
                </div>
                <div class="users_show__body_info">
                    <p><span>Email:</span> {{user.email}}</p>
                </div>
                <div class="users_show__body_info">
                    <p><span>Ville:</span> {{user.ville}}</p>
                </div>
                <div class="users_show__body_info">
                    <p><span>Telephone:</span> {{user.tel}}</p>
                </div>
                <div class="users_show__body_info">
                    <p><span>Date Naissance:</span> {{user.dateNaissance}}</p>
                </div>
                <div class="users_show__body_info">
                    <p><span>Gendre:</span> {{user.gendre}}</p>
                </div>
                <div class="users_show__body_info" *ngIf="user.role == 'Employee'">
                    <p><span>Salaire:</span> {{user.employee?.salaire}} <strong *ngIf="user.employee?.salaire != null">DH</strong></p>
                </div>
                <div class="users_show__body_info" *ngIf="user.role == 'Client'">
                    <p><span>Adresse:</span>  {{user.client?.adresse}}</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Add New User -->
<div class="users__add" *ngIf="Open_Box">
    <button (click)="F_Close_Box_User()"><i class="fas fa-times"></i></button>
    <form [formGroup]="formUser" (ngSubmit)="onSubmit()" class="users__add__modal" *ngIf="Open_Box_Add_User">
        <div class="users__add__modal__header" *ngIf="!OPEN_EDIT">
            Ajouter Nouveau Utilisateur
        </div>
        <div class="users__add__modal__header" *ngIf="OPEN_EDIT">
            Modifier l'utilisateur
        </div>
        <div class="users__add__modal__body">
            
            <div class="users__add__modal__body__left">
                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['cin'].dirty || formUser.controls['cin'].touched) && formUser.controls['cin'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['cin'].dirty || formUser.controls['cin'].touched) && formUser.controls['cin'].invalid
                }">
                    <label for="cin">Cin</label>
                    <div class="control-form__input">
                        <input id="cin" type="text" formControlName="cin" placeholder="Entrer votre CIN.">
                        <i  *ngIf="(formUser.controls['cin'].invalid && (formUser.controls['cin'].dirty || formUser.controls['cin'].touched))||formUser.controls['cin'].valid"
                            [ngClass]="formUser.controls['cin'].invalid && (formUser.controls['cin'].dirty || formUser.controls['cin'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['cin'].dirty || formUser.controls['cin'].touched) && formUser.controls['cin'].invalid">
                        <span *ngIf="formUser.controls['cin'].getError('required')">Ce champ est obligatoire.</span>
                        <span *ngIf="formUser.controls['cin'].getError('minlength')">Ce champ doit être supérieur à 6 caractères.</span>
                        <span *ngIf="formUser.controls['cin'].getError('maxlength')">Ce champ doit être inférieur à 9 caractères.</span>
                    </div>
                </div>
                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['nom'].dirty || formUser.controls['nom'].touched) && formUser.controls['nom'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['nom'].dirty || formUser.controls['nom'].touched) && formUser.controls['nom'].invalid
                }">
                    <label for="nom">Nom</label>
                    <div class="control-form__input">
                        <input id="nom" type="text" formControlName="nom" placeholder="Entrer votre nom.">
                        <i  *ngIf="(formUser.controls['nom'].invalid && (formUser.controls['nom'].dirty || formUser.controls['nom'].touched))||formUser.controls['nom'].valid"
                            [ngClass]="formUser.controls['nom'].invalid && (formUser.controls['nom'].dirty || formUser.controls['nom'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['nom'].dirty || formUser.controls['nom'].touched) && formUser.controls['nom'].invalid">
                        <span *ngIf="formUser.controls['nom'].getError('required')">Ce champ est obligatoire.</span>
                        <span *ngIf="formUser.controls['nom'].getError('minlength')">Ce champ doit être supérieur à 3 caractères.</span>
                        <span *ngIf="formUser.controls['nom'].getError('maxlength')">Ce champ doit être inférieur à 14 caractères.</span>
                    </div>
                </div>

                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['prenom'].dirty || formUser.controls['prenom'].touched) && formUser.controls['prenom'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['prenom'].dirty || formUser.controls['prenom'].touched) && formUser.controls['prenom'].invalid
                }">
                    <label for="nom">Prenom</label>
                    <div class="control-form__input">
                        <input id="prenom" type="text" formControlName="prenom" placeholder="Entrer votre prenom.">
                        <i  *ngIf="(formUser.controls['prenom'].invalid && (formUser.controls['prenom'].dirty || formUser.controls['prenom'].touched))||formUser.controls['prenom'].valid"
                            [ngClass]="formUser.controls['prenom'].invalid && (formUser.controls['prenom'].dirty || formUser.controls['prenom'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['prenom'].dirty || formUser.controls['prenom'].touched) && formUser.controls['prenom'].invalid">
                        <span *ngIf="formUser.controls['prenom'].getError('required')">Ce champ est obligatoire.</span>
                        <span *ngIf="formUser.controls['prenom'].getError('minlength')">Ce champ doit être supérieur à 3 caractères.</span>
                        <span *ngIf="formUser.controls['prenom'].getError('maxlength')">Ce champ doit être inférieur à 19 caractères.</span>
                    </div>
                </div>
                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['email'].dirty || formUser.controls['email'].touched) && formUser.controls['email'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['email'].dirty || formUser.controls['email'].touched) && formUser.controls['email'].invalid
                }">
                    <label for="email">Email</label>
                    <div class="control-form__input">
                        <input id="email" type="email" formControlName="email" placeholder="Entrer votre email.">
                        <i  *ngIf="(formUser.controls['email'].invalid && (formUser.controls['email'].dirty || formUser.controls['email'].touched))||formUser.controls['email'].valid"
                            [ngClass]="formUser.controls['email'].invalid && (formUser.controls['email'].dirty || formUser.controls['email'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['email'].dirty || formUser.controls['email'].touched) && formUser.controls['email'].invalid">
                        <span *ngIf="formUser.controls['email'].getError('required')">Ce champ est obligatoire.</span>
                        <span *ngIf="formUser.controls['email'].getError('email')">Se champ doit être l'adresse e-mail.</span>
                        <span *ngIf="formUser.controls['email'].getError('maxlength')">Ce champ doit être inférieur à 100 caractères.</span>
                    </div>
                </div>

                <div [ngClass]="{
                    'control-form':true,
                    'border-green':formUser.controls['password'].valid,
                    'border-red':(formUser.controls['password'].dirty || formUser.controls['password'].touched) && formUser.controls['password'].invalid
                }" *ngIf="!OPEN_EDIT">
                    <label for="password">Mot de passe</label>
                    <div class="control-form__password">
                        <div class="control-form__input">
                            <div class="control-form__input__password">
                                <input id="password" 
                                        formControlName="password"
                                        [type]="SHOW_HIDE_PASSWORD?'password':'text'" 
                                        [value]="GENERATE_PASSWORD"
                                        placeholder="Entrer votre Password.">
                                <i *ngIf="SHOW_PASSWORD" (click)="Show_Password()" class="fas fa-eye"></i>
                                <i *ngIf="HIDE_PASSWORD" (click)="Hide_Password()" class="fas fa-eye-slash"></i>
                            </div>
                            <i  *ngIf="(formUser.controls['password'].invalid && (formUser.controls['password'].dirty || formUser.controls['password'].touched))||formUser.controls['password'].valid"
                            [ngClass]="formUser.controls['password'].invalid && (formUser.controls['password'].dirty || formUser.controls['password'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                            ></i>
                        </div>
                        <button type="button" (click)="generatePassword()">Generate</button>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['password'].dirty || formUser.controls['password'].touched) && formUser.controls['password'].invalid">
                        <span *ngIf="formUser.controls['password'].getError('required')">Ce champ est obligatoire.</span>
                        <span *ngIf="formUser.controls['password'].getError('minlength')">Ce champ doit être supérieur à 8 caractères.</span>
                        <span *ngIf="formUser.controls['password'].getError('maxlength')">Ce champ doit être inférieur à 80 caractères.</span>
                    </div>
                    
                </div>

                <div [ngClass]="{
                    'control-form':true,
                    'border-green':formUser.controls['gendre'].valid  || formUser.controls['email'].value,
                    'border-red':(formUser.controls['gendre'].dirty || formUser.controls['gendre'].touched) && formUser.controls['gendre'].invalid
                }">
                    <label for="">Gendre</label>
                    <div class="control-form__input__Radio">
                        <div class="control-form__input__Radio_Sexe_Global">
                            <div class="control-form__input__Radio_Sexe">
                                <input id="homme"
                                       name="gendre"
                                       type="radio"
                                       formControlName="gendre"
                                       value="Homme"
                                       >
                                <label for="homme">
                                    <i class="fas fa-male"></i>
                                     Homme 
                                    <i class="fas fa-check-circle"></i>
                                </label>
                            </div>
                            <div class="control-form__input__Radio_Sexe">
                                <input id="femme"
                                       name="gendre"
                                       type="radio"
                                       formControlName="gendre"
                                       value="Femme">
                                <label for="femme">
                                    <i class="fas fa-female"></i>
                                     Femme 
                                    <i class="fas fa-check-circle"></i>
                                </label>
                            </div>
                        </div>
                        <i  *ngIf="(formUser.controls['gendre'].invalid && (formUser.controls['gendre'].dirty || formUser.controls['gendre'].touched))||formUser.controls['gendre'].valid"
                        [ngClass]="formUser.controls['gendre'].invalid && (formUser.controls['gendre'].dirty || formUser.controls['gendre'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                </div>

            </div>
            <div class="users__add__modal__body__right">
                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['ville'].dirty || formUser.controls['ville'].touched) && formUser.controls['ville'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['ville'].dirty || formUser.controls['ville'].touched) && formUser.controls['ville'].invalid
                }">
                <label for="ville">Ville</label>
                    <div class="control-form__input">
                        <input id="ville" type="text" formControlName="ville" placeholder="Entrer votre ville.">
                        <i  *ngIf="(formUser.controls['ville'].invalid && (formUser.controls['ville'].dirty || formUser.controls['ville'].touched))||formUser.controls['ville'].valid"
                            [ngClass]="formUser.controls['ville'].invalid && (formUser.controls['ville'].dirty || formUser.controls['ville'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['ville'].dirty || formUser.controls['ville'].touched) && formUser.controls['ville'].invalid">
                        <span *ngIf="formUser.controls['ville'].getError('required')">Ce champ est obligatoire.</span>
                        <span *ngIf="formUser.controls['ville'].getError('minlength')">Ce champ doit être supérieur à 3 caractères.</span>
                        <span *ngIf="formUser.controls['ville'].getError('maxlength')">Ce champ doit être inférieur à 29 caractères.</span>
                    </div>
                </div>

                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['tel'].dirty || formUser.controls['tel'].touched) && formUser.controls['tel'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['tel'].dirty || formUser.controls['tel'].touched) && formUser.controls['tel'].invalid
                }">
                <label for="tel">Telephone</label>
                    <div class="control-form__input">
                        <input id="tel" type="text" formControlName="tel" placeholder="Entrer votre telephone.">
                        <i  *ngIf="(formUser.controls['tel'].invalid && (formUser.controls['tel'].dirty || formUser.controls['tel'].touched))||formUser.controls['tel'].valid"
                            [ngClass]="formUser.controls['tel'].invalid && (formUser.controls['tel'].dirty || formUser.controls['tel'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['tel'].dirty || formUser.controls['tel'].touched) && formUser.controls['tel'].invalid">
                        <p *ngIf="formUser.controls['tel'].getError('required')">Ce champ est obligatoire.</p>
                        <p *ngIf="formUser.controls['tel'].getError('pattern')">Ce champ doit être un numéro de téléphone.</p>
                        <p *ngIf="formUser.controls['tel'].getError('minlength')">Ce champ doit être 10 caractères.</p>
                        <p *ngIf="formUser.controls['tel'].getError('maxlength')">Ce champ doit être 10 caractères.</p>
                    </div>
                </div>

                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['dateNaissance'].dirty || formUser.controls['dateNaissance'].touched) && formUser.controls['dateNaissance'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['dateNaissance'].dirty || formUser.controls['dateNaissance'].touched) && formUser.controls['dateNaissance'].invalid
                }">
                <label for="dateNaissance">Date Naissance</label>
                    <div class="control-form__input">
                        <input id="dateNaissance" type="date" formControlName="dateNaissance">
                        <i  *ngIf="(formUser.controls['dateNaissance'].invalid && (formUser.controls['dateNaissance'].dirty || formUser.controls['dateNaissance'].touched))||formUser.controls['dateNaissance'].valid "
                            [ngClass]="formUser.controls['dateNaissance'].invalid && (formUser.controls['dateNaissance'].dirty || formUser.controls['dateNaissance'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['dateNaissance'].dirty || formUser.controls['dateNaissance'].touched) && formUser.controls['dateNaissance'].invalid">
                        <span *ngIf="formUser.controls['dateNaissance'].getError('required')">Ce champ est obligatoire.</span>
                        <!-- <span *ngIf="F_VALIDATE_DATE() == false">Ce champ doit être inférieur à Date maintenant.</span> -->
                    </div>
                </div>

                <div [ngClass]="{
                    'control-form':true,
                    'border-green':formUser.controls['role'].valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['role'].dirty || formUser.controls['role'].touched) && formUser.controls['role'].invalid
                }">
                    <label for="role">Role</label>
                    <div class="control-form__role">
                        <div class="control-form__role-all">
                            <div class="control-form__role__item">
                                <input id="admin" name="role" 
                                       formControlName="role"
                                       (change)="role($event)"
                                       type="radio"
                                       value="Admin">
                                <label for="admin">Admin</label>
                            </div>
                            <div class="control-form__role__item">
                                <input id="client" name="role" 
                                       formControlName="role"
                                       (change)="role($event)" 
                                       type="radio"
                                       value="Client">
                                <label for="client">Client</label>
                            </div>
                            <div class="control-form__role__item">
                                <input id="employee" name="role" 
                                       formControlName="role"
                                       (change)="role($event)"
                                       type="radio" 
                                       value="Employee">
                                <label for="employee">Employee</label>
                            </div>
                        </div>
                        <i  *ngIf="(formUser.controls['role'].invalid && (formUser.controls['role'].dirty || formUser.controls['role'].touched))||formUser.controls['role'].valid"
                            [ngClass]="formUser.controls['role'].invalid && (formUser.controls['role'].dirty || formUser.controls['role'].touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    
                </div>


                <div [ngClass]="{
                    'control-form':true,
                    'border-green':(formUser.controls['employee'].get('salaire')?.dirty || formUser.controls['employee'].get('salaire')?.touched) && formUser.controls['employee'].get('salaire')?.valid || formUser.controls['email'].value,
                    'border-red':(formUser.controls['employee'].get('salaire')?.dirty || formUser.controls['employee'].get('salaire')?.touched) && formUser.controls['employee'].get('salaire')?.invalid
                }" *ngIf="RADIO_ROLE_EMPLOYEE" >
                <label for="salaire">Salaire</label>
                    <div class="control-form__input" formGroupName="employee">
                        <input id="salaire"  formControlName="salaire" type="text" placeholder="Entrer votre salaire.">

                        <i  *ngIf="(formUser.controls['employee'].get('salaire')?.invalid && (formUser.controls['employee'].get('salaire')?.dirty || formUser.controls['employee'].get('salaire')?.touched))||formUser.controls['employee'].get('salaire')?.valid"
                            [ngClass]="formUser.controls['employee'].get('salaire')?.invalid && (formUser.controls['employee'].get('salaire')?.dirty || formUser.controls['employee'].get('salaire')?.touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="(formUser.controls['employee'].get('salaire')?.dirty || formUser.controls['employee'].get('salaire')?.touched) && formUser.controls['employee'].get('salaire')?.invalid">
                        <p *ngIf="formUser.controls['employee'].get('salaire')?.getError('required')">Ce champ est obligatoire.</p>
                        <p *ngIf="formUser.controls['employee'].get('salaire')?.getError('pattern')">Ce champ doit être un numéro.</p>
                    </div>
                </div>


                <div [ngClass]="{ 
                        'control-form':true,
                        'border-green':formUser.controls['client'].get('adresse')?.valid  || formUser.controls['email'].value && (formUser.controls['client'].get('adresse')?.touched || formUser.controls['client'].get('adresse')?.dirty),
                        'border-red':formUser.controls['client'].get('adresse')?.invalid && (formUser.controls['client'].get('adresse')?.touched || formUser.controls['client'].get('adresse')?.dirty)
                    }"
                    *ngIf="RADIO_ROLE_CLIENT" >
                <label for="adresse">Adresse</label>
                    <div class="control-form__input" formGroupName="client">
                        <textarea id="adresse" formControlName="adresse" cols="30" rows="3" placeholder="Entrer votre adresse."></textarea>
                        
                        <i  *ngIf="(formUser.controls['client'].get('adresse')?.invalid && (formUser.controls['client'].get('adresse')?.dirty || formUser.controls['client'].get('adresse')?.touched))||formUser.controls['client'].get('adresse')?.valid"
                            [ngClass]="formUser.controls['client'].get('adresse')?.invalid && (formUser.controls['client'].get('adresse')?.dirty || formUser.controls['client'].get('adresse')?.touched)?'fas fa-exclamation-circle color-red':'fas fa-check color-green'"
                        ></i>
                    </div>
                    <div class="error" *ngIf="formUser.controls['client'].get('adresse')?.invalid && (formUser.controls['client'].get('adresse')?.touched || formUser.controls['client'].get('adresse')?.dirty)">
                        <p *ngIf="formUser.controls['client'].get('adresse')?.getError('required')">Ce champ est obligatoire.</p>
                        <p *ngIf="formUser.controls['client'].get('adresse')?.getError('minlength')">Ce champ doit être supérieur à 8 caractères.</p>
                        <p *ngIf="formUser.controls['client'].get('adresse')?.getError('maxlength')">Ce champ doit être inférieur à 180 caractères.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="users__add__modal__footer">
            <button *ngIf="!OPEN_EDIT" 
                    type="submit" 
                    [ngClass]="formUser.valid?'bg-success':'black'" 
                    [disabled]="formUser.invalid"
            >Ajouter</button>
            <button *ngIf="OPEN_EDIT" 
                    type="submit" 
                    class="bg-success"
                    >Modifier</button>
            <button type="button" (click)="F_Close_Box_User()" class="bg-close">Fermer</button>
        </div>
    </form>

    <div class="users__delete__modal" *ngIf="Open_Box_Delete_User">
        <div class="users__delete__modal__header">
            Supprimer l'utilisateur
        </div>
        <div class="users__delete__modal__middle">
            <h3>Voulez-vous vraiment supprimer cette personne?</h3>
        </div>
        <div class="users__delete__modal__footer">
            <button (click)="delete()" class="bg-success">Oui</button>
            <button (click)="F_Close_Box_User()" class="bg-close">Non</button>
        </div>
    </div>
</div>