<div class="sidebar">
  <div class="sidebar__header">
    <img class="sidebar__header__logo" src="../../../../assets/img/logo__user.png" alt="">
    <div class="sidebar__header__username">
      <h3>{{username | uppercase }}</h3>
      <h5>{{role}}</h5>
    </div>
  </div>
  <div class="sidebar__body">
    <a class="sidebar__body__link active" routerLink="">
      <p><i class="fas fa-home"></i>Accueil</p>
    </a>
    <a class="sidebar__body__link" routerLink="users" *ngIf="role != 'Client' ">
      <p><i class="fas fa-users"></i>Gestion Utilisateurs</p>
      
    </a>
    <a class="sidebar__body__link" routerLink="products" *ngIf="role != 'Client' ">
      <p><i class="fas fa-store"></i>Gestion Produits</p>
      
    </a>
    <a class="sidebar__body__link" routerLink="orders">
      <p><i class="fas fa-shopping-cart"></i>Gestion Commandes</p>
      
    </a>
    <a class="sidebar__body__link" routerLink="categories" *ngIf="role != 'Client' ">
      <p><i class="fas fa-tags"></i>Gestion Categories</p>
      
    </a>
  </div>
</div>
